@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div style="background-color: #f9f9f9; padding: 50px; text-align: center;">
    <h1 style="font-size: 2.5em; color: #1F2937;">Bizimle İletişime Geçin</h1>
    <p style="font-size: 1.2em; color: #4A5568;">
        Araç Blog sayfamızla ilgili sorularınız, önerileriniz veya iş birliği tekliflerinizi paylaşmak için bize ulaşabilirsiniz. Müşteri memnuniyetini öncelikli kılan ekibimiz size her zaman yardımcı olmaktan mutluluk duyacaktır.
    </p>
</div>

<div style="display: flex; justify-content: center; align-items: flex-start; padding: 50px; gap: 50px;">
    <img src="~/web/images/Contact-us.jpg" alt="İletişim" style="width: 500px; height: auto; border-radius: 20px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">

    <div style="text-align: left; font-size: 1.2em; line-height: 2em; color: #333;">
        <p>
            <img src="/Content/images/instagram-icon.png" alt="Instagram" style="width: 30px; vertical-align: middle; margin-right: 10px;">
            <strong>Instagram:</strong>
            <a href="https://www.instagram.com/" target="_blank" style="color: #E1306C; text-decoration: none;"> _kadirkaval</a>
        </p>
        <p>
            <img src="/Content/images/email-icon.png" alt="E-posta" style="width: 30px; vertical-align: middle; margin-right: 10px;">
            <strong>E-posta:</strong>
            <a href="https://mail.google.com/mail/u/0/#inbox" style="color: #007BFF; text-decoration: none;"> kadirkava1511@gmail.com</a>
        </p>
        <p>
            <img src="/Content/images/whatsapp-icon.png" alt="WhatsApp" style="width: 30px; vertical-align: middle; margin-right: 10px;">
            <strong>WhatsApp:</strong>
            <a href="https://web.whatsapp.com/" target="_blank" style="color: #25D366; text-decoration: none;"> +90 535 560 14 38</a>
        </p>
    </div>
</div>

<style>
    h1 {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
    }

    p {
        font-family: 'Poppins', sans-serif;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        transition: transform 0.3s ease-in-out;
    }

        img:hover {
            transform: scale(1.05);
        }
</style>
